# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://twoj-projekt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=twoj_anon_key
SUPABASE_SERVICE_ROLE_KEY=twoj_service_role_key

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=twoj_cloud_name
CLOUDINARY_API_KEY=twoj_api_key
CLOUDINARY_API_SECRET=twoj_api_secret
